<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="" />

  <title>{{ site.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />

  <!-- icon for google search-->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="/assets/pictures/radboud_favicon.png" > -->
  <link rel="shortcut icon" type="image/x-icon" href="https://github.com/radboudumc-biostatistics/radboudumc-biostatistics.github.io/blob/main/favicon.ico.png" >
</head>
