<div class="col-md-8 mb-5">
    <h2> News </h2>
        <hr />
        <p>
            <strong><font color="#006991">1 August 2024</font></strong>
            <br>
            We have a new website! Visit along and leave us any comments.
            <br>
        </p>
        <hr />
        <p>
            <strong><font color="#006991">8 April 2024</font></strong>
            <br>
            Check out our newest paper on 
            Bayesian federated inference for estimating statistical models based on non-shared multicenter data sets
            (<a href="https://onlinelibrary.wiley.com/doi/full/10.1002/sim.10072">Statistics in Medicine</a>).
            <br>
        </p>
        <hr />
        <p>
            <strong><font color="#006991">16 February 2024</font></strong>
            <br>
            Check out our newest paper on 
            Revisiting the impact of <i>Schistosoma mansoni</i> regulating mechanisms on transmission dynamics using SchiSTOP, a novel modelling framework
            (<a href="https://www.medrxiv.org/content/10.1101/2024.02.16.24302940v1">MedRXiv</a>).
            
            <br>
        </p>
        <hr />
</div>




