<div class="col-md-8 mb-5">
    <h2> News </h2>
        <hr />
        <p>
            <strong><font color="#006991">12 May 2025</font></strong>
            <br>
            <strong>Dr. Marc Vandemeulebroecke appointed visiting professor at Radboudumc</strong>. 
            We are pleased to announce that Dr. Marc Vandemeulebroecke has recently been appointed as a 
            visiting professor in the IQ Health Biostatistics Research and Education group.
            The Biostatistics Research Group has a strong research portfolio on innovative methods in 
            clinical research for drug development and regulatory science. Dr. Vandemeulebroecke adds a 
            strong drug development perspective to this portfolio.
            As part of his visiting professorship, Dr. Marc Vandemeulebroecke will contribute to the INVENTS project and 
            support dissemination and implementation of research results within the Radboudumc, especially for academic 
            drug development for rare diseases.
            Read the <a href="/people/MarcVandemeulebroecke">full news article here</a>.
            <br>
        </p>
        <hr />
        <p>
            <strong><font color="#006991">01 May 2025</font></strong>
            <br>
            <strong>Course registration: Statistics for Clinical Researchers</strong>: Are you involved in clinical research and do you feel the need to update and further develop your 
            knowledge and skills of statistics? Then this course is perfect for you! We will aim to enhance 
            basic understanding of statistical principles that are necessary to evaluate the scientific 
            literature in your field, to choose and perform statistical methods for your own research project, and to train you in communication with a statistical consultant when more complex types of statistical analyses are needed.
            (<a href="https://www.iqhealth.nl/en/research-and-education/courses-and-training/statistics-for-clinical-researchers">Information and registration link</a>)
            <br>
        </p>
        <hr />
        <p>
            <strong><font color="#006991">January 2025</font></strong>
            <br>
            A recent review was published:
            On the Concepts, Methods, and Use of “Probability of Success” for Drug Development Decision Making: A Scoping Review
            (<a href="https://ascpt.onlinelibrary.wiley.com/doi/10.1002/cpt.3571">Clinical Pharmacology & Therapeutics</a>).
            <br>
        </p>
        <hr />
        <!-- <p>
            <strong><font color="#006991">September 2024</font></strong>
            <br>
            We have a new article on 
            Revisiting the impact of <i>Schistosoma mansoni</i> regulating mechanisms on transmission dynamics using SchiSTOP, a novel modelling framework 
            (<a href="https://journals.plos.org/plosntds/article?id=10.1371/journal.pntd.0012464">PLOS Neglected Tropical Diseases</a>).
            <br>
        </p>
        <hr /> -->
        <!-- <p>
            <strong><font color="#006991">April 2024</font></strong>
            <br>
            Check out our newest paper on 
            Bayesian federated inference for estimating statistical models based on non-shared multicenter data sets
            (<a href="https://onlinelibrary.wiley.com/doi/full/10.1002/sim.10072">Statistics in Medicine</a>).
            <br>
        </p> -->
        <!-- <hr /> -->
        <!-- <p>
            <strong><font color="#006991">16 February 2024</font></strong>
            <br>
            Check out our newest paper on 
            Revisiting the impact of <i>Schistosoma mansoni</i> regulating mechanisms on transmission dynamics using SchiSTOP, a novel modelling framework
            (<a href="https://www.medrxiv.org/content/10.1101/2024.02.16.24302940v1">MedRXiv</a>).
            
            <br>
        </p> -->
        <!-- <hr /> -->
</div>




