<div class="col-md-8 mb-5">
    <h2> News </h2>
        <hr />
        <p>
            <strong><font color="#006991">1 August 2024</font></strong>
            <br>
            We have a new website! Visit along and leave us any comments.
            <br>
        </p>
        <hr />
        <p>
            <strong><font color="#006991">15 February 2023</font></strong>
            <br>
            &#128187; Check out our newest paper on Bayesian Federated Inference for Statistical Models 
            (<a href="https://arxiv.org/abs/2302.07677">ArXiV</a>)
        </p>
</div>




