<div class="col-md-4 mb-5">
  <h2>Contact Us</h2>
  <hr />
  <address>
    <strong>Biostatistics section</strong>
    <br />Secretariaat IQ Health
    <br /><abbr title="Phone">P:</abbr>   +31 (0)6 29 69 87 04 
    <br /><abbr title="Email">E:</abbr>   <a href="mailto:#">heleen.arians@radboudumc.nl</a>
    <br />
  </address>
  <address>
    <strong>Radboud University Medical Center</strong>
    <br />Geert Grootplein Noord 21 (route 133)
    <br />6500HB, Nijmegen
    <br />The Netherlands
    <br />
  </address>
</div>
