<div class="col-md-4 mb-5">
  <h2>Contact Us</h2>
  <hr />
  <address>
    <strong>Biostatistics section</strong>
    <br /><abbr title="Phone">P:</abbr>   +31 (0)6 29 69 87 04 
    <br /><abbr title="Email">E:</abbr>   heleen.arians - at - radboudumc.nl
    <br />
  </address>
  <address>
    <strong>IQ Health science department</strong>
    <br /> Radboud University Medical Center
    <br /> Route 160
    <br />Kapittelweg 54, 6525 EP Nijmegen
    <br /><a href="https://www.iqhealth.nl/home">www.iqhealth.nl</a> (in Dutch)
    <br />
  </address>
</div>


